.sub-cat-text {
  font-weight: bold;
  padding-left: 1em;
}
.sub-image {
  position: relative;
  width: 100px;
  height: 90px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.sub-category {
  width: 10vw;
  position: absolute;
  left: 52.5%;
  margin-top: 5em;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 0.5em;
  box-shadow: 0px 0.8px 2px grey;
  border-radius: 0px 8px 8px 0;
}
